// html {
// 	 position: relative;
// 	 min-height: 100%;
// }
@import "includes/settings";
body {
	background-color:#f0f0f0;
}


// Header
	.headerNav {

		ul{
			a{
				display: block;

				width: 90px;
				height: 16;

				float: left;

				list-style-type: none;
				
				margin: 28px 20px 20px;
				
				font-family: Roboto;
				font-size: 13px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				text-decoration: none; 
				text-align: left;

				li{
					color: #000000;
					

				}
			}
		}

	}

	.loginIcon{
		//display:inline-block;
		vertical-align: middle;
		margin: 20px;
		float: right;
	}

#myCarousel{
	height: 456px;
	background-color: rgba(15, 14, 14, 0.4);
}
.container-fluid {

	max-width:1000px;
	width: 100%;
	background-color: white;
	padding: 0 0;
	
}

.contentDiv1{
	margin: 20px 0 0 0;
}

.categoryImages{
	margin: 20px 0;
}





.moreNewsblocks {
	margin-top: 30px;
	padding: 0 25px;
}


.paragraf {

	  font-family: Roboto;
	  font-size: 26px;
	  font-weight: 900;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: -0.6px;
	  color: #000000;
}

.layer {

	  font-family: SFUIDisplay;
	  font-size: 90px;
	  font-weight: 900;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: -2.2px;
	  text-align: center;
	  color: #000000;
}

.button-news{
	height: 26px;
    border: 1px solid #eaeaea; 
    display: inline-block;
    padding: 5px 15px; 
    text-decoration: none; 
    color: #000;
    font-family: Roboto;
  	font-size: 9px;
  	font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	text-align: center;
  	color: #444444;
  	margin: 43px 0 0 0px;
}



.contentDiv3{
	background-color: #f8f8f8;
}


.catalogMainHead {

	margin: 25px auto;
	color:blue;

}

.catalogElements{
	min-height: 230px;
	min-width: 300px;
	padding:10px;
	border: 1px solid  #f8f8f8;;
	margin: 18px 0;

	// margin: 10px;	
		&:hover
		{
			background-color:#315efb;

			.catalogHeaders{
				color:white;
			}
}
}

.catalogButtons{
	display:inline-block;
	width: 140px;
	height: 35px;
	padding: 10px;
	margin-top: 15px;

	border: solid 2px  #f8f8f8;;
	text-decoration: none;
	text-align:center;
	
	font-family: Roboto;
  	font-size: 12px;
  	font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.8px;
  	color: #f8f8f8;

  	&:hover{
  		color:white;
  	}
}

.catParagrafs{
	//width: 100px;
	display:inline-block;
	margin: 50px 50px 30px 0;
	font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color:  #f8f8f8;;
}
.block{
	clear: both;
}
.imgCatalog{
	display:block;
	float: right;
	margin-top: 40px;
}

.catalogHeaders{
	font-family: Roboto;
  font-size: 26px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #000000;
  margin: 10px 0 23px 0;
}

.catalogIcons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 20px;

	p{
		margin: 10px 0 10px 20px;
  		font-family: Roboto;
  		font-size: 12px;
  		font-weight: 500;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: normal;
  		letter-spacing: 0.8px;
  		color: #333333;
	}
}


.secondNewsParagrafs{
	opacity: 0.6;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: #000000;
}



// Footer
	.footerCont{
		height:490px;
		background-color:black;

		.footerContainer{
			margin: auto;
			background-color: gray;
		}

	}
	.footer,.containFooter{
		background-color: black;

	}

	.footItems{
	
		
	padding-left: 60px;

	
	ul{
		padding: 0;
		li{
			list-style-type: none;

			 height: 20px;


			 font-family: Roboto;
			 font-size: 14px;
			 font-weight: normal;
			 font-style: normal;
			 font-stretch: normal;
			 line-height: 1.43;
			 letter-spacing: normal;
			 color: #ffffff;
		}
	}
	}
	hr{
	size:10px;
	color: #0676e6;
	margin: 20px;

	}

	.lastDiv{
	padding: 25px;

		p{
			font-family: Roboto;
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #ffffff;
		}
		}









