

@mixin fontSettings(){
  		font-family: Roboto;
  		text-align: center;
  	  	font-size: 12px;
  		font-weight: 500;
  		
}

.aaa{
	padding: 40px;
}


.btn-standart-blue{
		@include fontSettings();
		max-width: 180px;
	  	background-color: #315efb;

	  	color: #ffffff;
	  	padding: 15px 53px;

			  &:focus{
				border: double 1px #649dff;
				color: #ffffff;
			  }
			  &:hover{
				background-color: #234ae4;
				color: #ffffff;
			  }
			  &:active{
			  	background-color: #1039d6;
			  }
			
}	

.btn-small-blue{
		@include fontSettings();
		 background-color: #315efb;

	  	color: #ffffff;
	  	padding: 15px 36px;

		  	&:focus{
			border: double 1px #649dff;
			color: #ffffff;
			}
			&:hover{
			background-color: #234ae4;
			color: #ffffff;
			}
			&:active{
			background-color: #1039d6;
			}
		
}

.btn-standart-grey{
		@include fontSettings();
		max-width: 160px;
		letter-spacing: 1px;
		text-align: center;
		color: #444444;
		padding: 16px 53px;
		background-color: #eaeaea;

			&:focus{
			border: solid 1px #649dff;
			}
			&:hover{
			background-color: #eeeeee;;
			}
			&:active{
			background-color: #d2d2d2;
			}
}	

.btn-standart-border{
		@include fontSettings();
		max-width: 158px;
		letter-spacing: 1px;
		text-align: center;
		color: #444444;
		border: solid 1px #eaeaea;
		padding: 16px 53px;
	

		
			&:focus{
			border: solid 1px #649dff;	
			outline:  solid 1px #eaeaea;
			}
			&:hover{
			background-color: #eeeeee;
			border: none;

			}
			&:active{
			background-color: #d2d2d2;
			border: none;
			outline:none;
			}
}	


.btn-small-white{
		@include fontSettings();
		background-color: #ffffff;
	  	padding: 15px 36px;
		width: 55px;
		height: 14px;
		font-family: Roboto;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 1px;
		text-align: center;
		color: #444444;


		&:focus{
			outline:  solid 1px #649dff;
		}

		&:hover{
			background-color: #eeeeee;
		}
		&:active{
			background-color: #d2d2d2;
			border: none;
			outline:none;
		}

}

.btn-standart-count{

}													